#logContainer {
  font: 10px/14px Verdana,Sans-Serif;
}
#logContainer > div {
  height: 194px;
  overflow-y: auto;
}
#logContainer .log_item {
  height: 20px;
  width: 100%;
  position: relative;
  overflow: hidden;
  border-bottom: 1px solid white;
}
#logContainer .log_from {
  top: 0px;
  left: 50px;
  width: 20px;
  height: 20px;
  position: absolute;
}
#logContainer .log_from img { width: 20px; height: 20px; }
#logContainer .log_icon {
  position: absolute;
  top: 0px;
  left: 70px;
  width: 20px;
  height: 20px;
  padding: 2px;
}
#logContainer .log_objective {
  position: absolute;
  top: 0px;
  left: 90;
  width: 120px;
  height: 20px;
  color: white;
}
#logContainer .log_guild {
  position: absolute;
  top: 0px;
  left: 240px;
  width: 50px;
  height: 20px;
  text-align: center;
}
#logContainer .log_ppt {
  position: absolute;
  top: 0px;
  left: 210px;
  width: 30px;
  height: 20px;
  color: white;
}
#logContainer .log_guild.released {
  text-decoration: line-through;
  text-decoration-color: red;
}
#logContainer .log_time {
  position: absolute;
  top: 0px;
  left: 0;
  width: 50px;
  height: 20px;
  text-align: center;
}
#logContainer .log_message {
  position: absolute;
  top: 0px;
  left: 260px;
  width: 200px;
  height: 20px;
}
#logContainer .red { background-color: #df0101; }
#logContainer .green { background-color: #088a08; }
#logContainer .blue { background-color: #2e64fe; }
#logContainer .white { background-color: #fafafa; }

