body {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 14pt;
}
.content {
  position: relative;
  max-width: 700px;
  margin: auto;
}
#teams {
  height: 35px;
}
.captain {
}
.members {
  font-size: 11px;
}
#teams .stats div {
  float: left;
  width: 33%;
}
.score, .kills, .deaths {
  font-size: 10px;
}
.team {
  color: white;
  width: 120px;
  height: 50px;
  position: absolute;
  top: 0px;
  padding: 3px; 
}
#red.team { right: 260px; background: #df0101; }
#green.team { right: 130px; background: #088a08; }
#blue.team { right: 0px; background: #2e64fe; }
#MatchStatus { font-size: 10pt; }
#ri {
  position:absolute;
  left: 0px;
  top: 806px;
}
div.style-standard {
  font-size: 16pt;
}

