body {
  font-family: "Open Sans Condensed",sans-serif;
  font-size: 14pt;
}
#teams {
  height: 35px;
}
.captain {
}
.members {
  font-size: 11px;
}
#teams .stats div {
  float: left;
  width: 33%;
}
.score, .kills, .deaths {
  font-size: 10px;
}
.team {
  color: white;
  width: 120px;
  height: 50px;
  position: absolute;
  top: 5px;
  padding: 3px; 
}
.team.selected {
  box-shadow: 3px 3px 5px #555555;
  outline: 1px solid black;
}
.team .captain {
  color: #eee;
} 
.team .members {
  text-align: right;
}
.team.selected .captain {
  color: #fff;
  font-weight: bold;
}
#red.team { right: 268px; background: #df0101; }
#green.team { right: 138px; background: #088a08; }
#blue.team { right: 8px; background: #2e64fe; }
#MatchStatus { font-size: 10pt; }
#ri {
  position:absolute;
  left: 8px;
  top: 830px;
}
div.style-standard {
  font-size: 16pt;
}

